*{
margin: 0px;
padding: 0px;
}
.container{
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 824px;
  border: 1px solid #5EAC24;
  border-top: none;
  padding-bottom: 10px;
}
.boardTable {
    width: 100%;
    border-collapse: collapse; /* 테두리 겹침 제거 */
    font-family: 'Arial', sans-serif;
    color: #595959;
    font-size: 14px;
    table-layout: fixed;
}

.boardTable th, .boardTable td {
    padding: 10px 5px;
    text-align: left;
    border-bottom: 1px solid #C4EEAE;
}
.col_brno { width: 8%; }
.col_brtitle { width: 44%; } /* 제목 영역을 넓게 조정 */
.col_nickname { width: 12%; }
.col_date { width: 12%; }
.col_viewcount { width: 8%; }
.col_likes { width: 8%; }
.boardTable th {
    background-color: #C4EEAE;
    font-weight: bold;
    text-align: center;
}
.boardTable td {
    text-align: center;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; /* 내용넘치면...*/
}
.boardTable td.col_brtitle {  /*제목 왼쪽정렬 맘에 안들면 변경하자*/
    text-align: left; 
}
.row {
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.row:hover {
    background-color: #f0f0f0;
}
.row a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s;
}

.row a:hover {
    color: #555;
}