* {
  margin: 0px;
  padding: 0px;
}
.container {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 804px;
  border: 1px solid #5eac24;
  border-top: none;
  font-family: "Arial", sans-serif;
  color: #595959;
}

.bmtitle {
  padding: 10px 0px 10px 0px;
  font-size: 24px;
  font-weight: bold;
  color: #595959;
  text-align: center;
}

.bminfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0px 0px; /*위오아왼*/
}

.bmwriter {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #595959;
}

.nickname {
  font-weight: bold;
  margin-right: 10px;
}

.date,
.updatedDate {
  color: #888;
  margin-left: 20px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn_heart {
  color: red;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 0px 0px 10px;
  font-size: 14px;
}
.actions span {
  margin-left: 15px;
  font-size: 14px;
  color: #888;
  cursor: pointer;
}

.actions span:hover {
  text-decoration: underline;
}

.divider {
  border: 0;
  height: 1px;
  background-color: #6dc82a; /* hr 색상을 밝은 초록색으로 변경 */
  margin: 10px 0;
}

.bmcontent {
  margin: 20px 0;
  line-height: 1.6;
  font-size: 15px;
  white-space: pre-wrap; /*줄바꿈*/
}

.commentSection {
  margin-top: 30px;
}

.commentInputBox {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.loggedInUser {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}

.commentInput {
  flex-grow: 1;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  resize: vertical;
}
.commentSubmitBtn {
  background-color: #5eac24;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}
.commentSubmitBtn:hover {
  background-color: #6dc82a;
}

.commentList {
  background-color: rgba(196, 238, 174, 0.5);
  border-radius: 10px;
  padding: 10px 10px;
}
.commentItem {
  border-bottom: 1px solid #ddd; /* 댓글 구분선 추가 */
  padding: 15px 0;
}

.commentInfoLine {
  display: flex;
  justify-content: space-between; /* 양 끝 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  margin-bottom: 10px; /* 내용과의 간격 */
}

.commentHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.commentAuthor {
  font-weight: bold;
}

.commentDate {
  color: #595959;
  font-size: 13px;
}

.commentActions {
  display: flex;
  gap: 10px;
}

.commentContent {
  font-size: 15px;
  line-height: 1.5;
}
.commentActions button {
  background: none;
  border: none;
  cursor: pointer;
  color: #595959;
  font-size: 14px;
}
.commentActions button:hover {
  text-decoration: underline;
}
.heartIcon {
  color: red;
  margin-right: 5px;
}