* {
  margin: 0px ;
  padding: 0px;
}
.container{
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.btn_gap {
  background-color: #C4EEAE;
  border-color: 5EAC24;
  border-radius: 10px;

}
.editorContents {
  color: #333333 !important;
  background-color: #C4EEAE;
}
/* 토스트 UI 에디터의 배경색을 변경 add_25.08.29 */
.toastui-editor-defaultUI {
    background-color: #C4EEAE;
}

/* 토스트 UI 에디터의 내용(글자)색 변경 안되는데요;;; add_25.08.29 */
.toastui-editor-contents {
    color: #595959 !important;
}