
.pageContainer{
  position: absolute;
}

.banner_image{
    position: relative;
    top: 36px;
    width: 50%;
    aspect-ratio: 6 / 1;
    overflow: hidden;
    margin: 0 auto;
}

.banner_image img {
  width: 100%;            /* 부모 .banner_image 기준으로 100% */
  height: 100%;           /* 부모 높이에 맞춤 */
  object-fit: cover;      /* 비율 유지하면서 꽉 채우기 */
  display: block;         /* inline-block 공백 제거 */
}

.food_search{
    position: relative;
    top: 100px;
    margin: 0 auto;
}