.search_container{
    /* border: 5px solid rebeccapurple; */
    width: 73.2%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    margin: 0 auto;
    margin-bottom: 100px;
}

.manufacturer_carousel{
    /* border: 2px solid purple; */
    width: 80%;
    height: 350px;
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.search_bar{
    width: 82%;
    height: 40px;
    position: relative;
    top: 0px;
    margin: 0 auto;
}

.search_bar input {
  width: 100%;           /* 부모 width에 맞춤 */
  height: 100%;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 100px;  /* 버튼 공간 확보 */
  box-sizing: border-box;
}

.search_bar button {
  position: absolute;
  top: 50%;
  right: 0px;           /* 버튼과 input 사이 간격 */
  transform: translateY(-50%);
  height: 100%;
  border-radius: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
}

.search_bar button:hover{
    cursor: pointer;
}

.search_bar button img{
    display: block;
    width: 100%; 
    height: 100%;

}

.result{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    border-radius: 20px;
    background-color: #ddecd5;
}

.result_list{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.result_list img {
    height: 150px;
}

.sponsors{
    border: 2px solid #50ac58;
    border-radius: 20px;
    width: 64%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.sponsors :global(.slider-container){
    border: none !important;
}

.sponsors > div > h3 {
    color: #50ac58;
    position: relative;
    top: 30px;
    left: 5%;
    font-size: 30px;
}

.sponsors hr{
    position: relative;
    top: 60px;
    width: 90%;
    border: none;
    border-top: 2px solid #a1df80;
    margin: 0 auto;
    margin-bottom: 50px;
}

.sponsors img {
    display: block;        /* 인라인에서 block으로 변경 */
    margin: 0 auto;        /* flex가 아니라도 중앙 정렬 */
    max-width: 70% !important;
    max-height: 200px;
    object-fit: contain;
}

.sponsors :global(.slick-prev) {
  left: -20px;
}

.sponsors :global(.slick-next) {
  right: 20px;
}

.sponsors :global(.slick-container > div) {
    display: flex !important;
    flex-direction: column;
    justify-content: center;  /* 세로 중앙 */
    align-items: center;      /* 가로 중앙 */
    height: 100%;
    width: 100%;              /* 전체 너비 채우기 */
    box-sizing: border-box;
}

.sponsors :global(.slick-slide) {
    display: flex;
    align-items: center; 
    height: 350px;     
    box-sizing: border-box;
}

.sponsors :global(.slick-slide > div) {

    display: flex !important;
    flex-direction: column;
    justify-content: center !important;  /* 세로 중앙 */
    align-items: center !important;      /* 가로 중앙 */
    height: 100%;                        /* 부모 슬라이드 높이를 채움 */
    box-sizing: border-box;
}

.caution{
    margin-top: 30px;
    font-size: 14px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}