.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 100px;
}

.chk {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-size: 30px;
  border-radius: 75px;
  font-weight: bold;
}

.btn {
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}